body {
	background-color: grey;
	font-family: calibri;
}

input[type="button"] {
		color: green;
		padding: 3px 15px;
		cursor: pointer;
		font-weight: bold;
}

#container {
	width: 35%;
	min-width: 480px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px white;
}

#header {
	text-align: center;
}

	#header > h1, h2 {
		color: #2a579a;
	}

#content {
	min-height: 220px;
	border-radius: 5px;
	box-shadow: 0 0 1px black;
	padding: 20px;
}

	#content input#btn_toggle {
		width: 100%;
	}

#field_container {
	margin-left: 15%;
}

	#field_container label {
		font-weight: bold;
		color: #2a579a;
	}

	#field_container input {
		background-color: rgba(144, 238, 144, 0.30);
		font-size: medium;
		width: 100px;
	}

#button_container {
	width: 100%;
	margin-top: 20px;
}

	#button_container #btn_save {
		width: 49.5%;
	}

	#button_container #btn_exit {
		color: #ff6a00;
		width: 49.5%;
	}

#footer {

}

#footer ul.info {
	font-size: small;
}

#txt_status {
	margin-left: 13%;
	color: green;
	font-size: large;
	font-weight: bold;
}

.clear {
	clear: both;
	margin: 10px;
}
